header{
    background-color: $background-principal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    div{
        img{ 
          
          
        }
    }
    nav{
        ul{
            display: flex;
            text-decoration: underline;
            list-style-type: none;
            gap: 20px;
            margin: 0 .9375rem;
        
            li{
                list-style: none;
                a{
                    font-size: 1.25rem;
                    color: $color-fuentes;
                    text-decoration: underline;
                    &:hover{color: blue;}
                }
            }
        }
    }
}
