

.section-principal{

background-color: black;
    width: 100%;
    height: 600px;
    background-image: url(../assets/img/imagenglaciar.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        text-align: center;
        align-items: center;
        font-size: 2.1875rem;
        font-family: 'Playfair Display', serif;
        font-family: 'Roboto', sans-serif;
        color: $color-fuentes;
        background-color: rgba(0, 0, 0, 0);
        padding: 20px;  
        &:hover{color:rgb(237, 10, 10)}
    
    }
    p{
        font-size: 20px;
        font-family: 'Playfair Display', serif;
        font-family: 'Roboto', sans-serif;
        backdrop-filter: blur(10px);
        color: $color-fuentes;
        padding: 20px;
        margin-top: .625rem;  
        width: 25.625rem;
        letter-spacing: 10 px;
        &:hover{color:rgb(239, 6, 6)}
    }

} 

.section-secundario{
    width: 100%;
    height: 650px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: url(../assets/img/fondo-glaciar.jpg);
    background-size: cover;

    .triangulo { 
        width: 16rem;
        height: 19rem ;
        background-image: url(../assets/img/triangulo1.png);
        background-repeat: no-repeat;
        background-size: contain; 
        margin: 10px; 
        border-style: none;
        align-self: center;
    }
    .sectionCardsInfo1 {
        display: flex;
        flex-direction: column;
        align-self: center;
        .cardsInfo{
            width: 200px;
            height: 200px;
            background-color: gray;
            padding: 5px 5px 5px 5px;
            border-color: white;
            border-width: 2px;
            border-style: solid;
            border-radius: 4px;
       
             button {
                width: 100%;
                height: 100%;
                background-image: url(../assets/img/minigla.png);
                background-repeat: no-repeat;
                background-size: cover;
                font-family: 'Roboto', sans-serif;
                color: rgb(1, 1, 1);
                font-size: .9375rem;
                font-weight: bold;
                font-style: oblique;
                padding: .625rem;
                text-decoration: underline;
                text-decoration-style: double;
                text-decoration-color: crimson;
                &:hover{color:rgb(239, 23, 23)}
            
            }
        }
        
    
    
            
        
    }
    .div-ips{
        width: 30rem;
        height: 160px;
        padding: .3125rem;
        align-self: center;
        align-content: center;
        
       
        
        p{
            font-size: 15px;
            font-family: 'Playfair Display', serif;
            font-family: 'Roboto', sans-serif;
            backdrop-filter: blur(10px);
            color:black;
            text-align: center;
            align-self: center;
            letter-spacing: 10px;
            &:hover{color:rgb(226, 21, 21)}
        }
    }
    .sectionCardsInfo2{
        display: flex;
        flex-direction: column;
        align-self: center;
        .cardsInfo2 {
            width: 200px;
            height: 200px;
            background-color: gray;
            padding: 5px 5px 5px 5px;
            border-color: white;
            border-width: 2px;
            border-style: solid;
            border-radius: 4px;
           
            button {
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-image: url(../assets/img/minigla.png);
                background-size: cover;
                font-family: 'Roboto', sans-serif;
                color: rgb(0, 0, 0);
                text-decoration: underline;
                text-decoration-style: double;
                text-decoration-color: crimson;
                font-size: .9375rem;
                font-weight: bold;
                font-style: oblique;
                padding: .625rem;
                &:hover{color:rgb(240, 11, 11)}
 
            
            }
        
        }
          
    }
    }






