.cafe1{
    width: 100%;
    height: fit-content;
    border-color: black;
    background-color: burlywood;
    
    .c-1{
        width: 100%;
        height: 100%;
        object-fit: contain;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain
        }

    }
    .ctext-1{
        h1{
            font-size: 20px;
            font-family: 'Playfair Display', serif;
            font-family: 'Roboto', sans-serif;
            text-align: center
        };
        address{
            text-align: center;
        }
    }
}
.cafe2{
    width: 100%;
    height: fit-content;
    border-color: black;
    background-color: burlywood;
    
    .c-2{
     @extend .c-1;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover
        }

    }
    .ctext-2{
        h1{
            font-size: 20px;
            font-family: 'Playfair Display', serif;
            font-family: 'Roboto', sans-serif;
            text-align: center
        };
        address{
            text-align:center
        }
    }
    
}
.cafe3{
    width: 100%;
    height: fit-content;
    border-color: black;
    background-color: burlywood;
    
    .c-3{
        width: 100%;
        height: 100%;
        object-fit: contain;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain
        }

    }
    .ctext-3{
        h1{
            font-size: 20px;
            font-family: 'Playfair Display', serif;
            font-family: 'Roboto', sans-serif;
            text-align: center
        };
        address{
            text-align: center;
        }
    }
}
.cafe4{
    width: 100%;
    height: fit-content;
    border-color: black;
    background-color: burlywood;
    
    .c-4{
        width: 100%;
        height: 100%;
        object-fit: contain;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain
        }

    }
    .ctext-4{
        h1{
            font-size: 20px;
            font-family: 'Playfair Display', serif;
            font-family: 'Roboto', sans-serif;
            text-align: center
        };
        address{
            text-align: center;
        }
    }
}
.cafe5{
    width: 100%;
    height: fit-content;
    border-color: black;
    background-color: burlywood;
    
    .c-5{
        width: 100%;
        height: 100%;
        object-fit: contain;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain
        }

    }
    .ctext-5{
        h1{
            font-size: 20px;
            font-family: 'Playfair Display', serif;
            font-family: 'Roboto', sans-serif;
            text-align: center
        };
        address{
            text-align: center;
        }
    }
}
.cafe6{
    width: 100%;
    height: fit-content;
    border-color: black;
    background-color: burlywood;
    
    .c-6{
        width: 100%;
        height: 100%;
        object-fit: contain;
        img{
            width: 100%;
            height: 70%;
            object-fit: contain
        }

    }
    .ctext-6{
        h1{
            font-size: 20px;
            font-family: 'Playfair Display', serif;
            font-family: 'Roboto', sans-serif;
            text-align: center
        };
        address{
            text-align: center;
        }
    }
}
/**Actividades**/
.activ-1{
    width: 100%;
    height: fit-content;
    border-color: black;
    background-color: burlywood;
    
    .img-act1{
        width: 100%;
        height: 100%;
        object-fit: contain;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain
        }

    }
        h2{
            font-size: 20px;
            font-family: 'Playfair Display', serif;
            font-family: 'Roboto', sans-serif;
            text-align: center
  
        }
       
}        
.activ-2{
    width: 100%;
    height: fit-content;
    border-color: black;
    background-color: burlywood;
    
    .img-act2{
        width: 100%;
        height: 100%;
        object-fit: contain;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain
        }

    }
        h2{
            font-size: 20px;
            font-family: 'Playfair Display', serif;
            font-family: 'Roboto', sans-serif;
            text-align: center
  
        }
       
    
}   
.activ-3{
    width: 100%;
    height: fit-content;
    border-color: black;
    background-color: burlywood;
    
    .img-act3{
        width: 100%;
        height: 100%;
        object-fit: contain;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain
        }

    }
    
        h2{
            font-size: 20px;
            font-family: 'Playfair Display', serif;
            font-family: 'Roboto', sans-serif;
            text-align: center
  
        }
       
}      
.activ-4{
    width: 100%;
    height: fit-content;
    border-color: black;
    background-color: burlywood;
    
    .img-act4{
        width: 100%;
        height: 100%;
        object-fit: contain;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain
        }
        
    }
        h2{
            font-size: 20px;
            font-family: 'Playfair Display', serif;
            font-family: 'Roboto', sans-serif;
            text-align: center
  
        }
      
}


             